apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: nodejs-xotpbsvh
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: artifactory-docker-artifactory.apps.rosa.rhtap-services.xmdt.p3.openshiftapps.com/rhtap/nodejs-xotpbsvh:071da7f3bc63f978f5caf3b724726212bd95fa8b@sha256:9f8412fbb32bcaf6ecd0b1b3601721d73cc6c8a0b52a4acfb76f1616bd1a4699
          name: container-image
